/* ======================= font style ==================== */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* ---------------------- font style --------------------- */
/* ======================= common css start =============== */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section,
ul,
ol,
li,
a {
  padding: 0;
  margin: 0;
  outline: 0;
}
html {
  scroll-behavior: smooth;
}

:root {
  --main_bg_color: #fff;
  --cardBanner_bg-color: #f3f3f3;
  --band_color: #262626;
  --primary_color: #767676;
  --footer_font_color: #6d6d6d;
  --font_family: "DM Sans", sans-serif;
}
/* ------------------------ common css end ------------------------ */
/* ------------------------ Header css Start ------------------------ */
#header {
  padding: 32px 0;
  background-color: var(--main_bg_color);
}
.headerPart {
  display: flex;
}
.headerPartItem {
  display: flex;
  column-gap: 40px;
  padding-left: 544px;
}
.headerPartItemList__link {
  color: var(--primary_color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
.headerPartItemList:hover .headerPartItemList__link {
  color: var(--band_color);
}
/* ------------------------ Header css end ------------------------ */
/* ------------------------ Navbar css Start ------------------------ */
#Navbar {
  background-color: #f5f5f3;
  padding: 25px 0;
}
.NavbarPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavbarPartleft__Titele {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--band_color);
  align-items: center;
}
.NavbarPartleftlist {
  display: none;
  background-color: var(--main_bg_color);
  position: absolute;
  left: 0px;
  top: 21px;
  padding: 18px;
}
.NavbarPartleftlistItem {
  margin-top: 15px;
}
.NavbarPartleftlistItem__link {
  font-family: var(--font_family);
  font-size: 14px;
  font-weight: 400;
  color: var(--band_color);
}
.NavbarPartleft__Titele:hover .NavbarPartleftlist {
  display: block;
}
.NavbarPartMiddleFrom {
  background-color: var(--main_bg_color);
  padding: 16px 21px;
}
.NavbarPartMiddleFrom__input {
  padding-right: 443px;
  border: none;
}
.NavbarPartMiddleFrom__btn {
  background-color: var(--main_bg_color);
  border: none;
}
.NavbarPartRight {
  display: flex;
  column-gap: 41px;
  align-items: center;
}
.NavbarPartRight__User {
  display: flex;
  column-gap: 10px;
}
/* ------------------------ Navbar css End ------------------------ */
/* ------------------------ Hero css Start ------------------------ */
#Banner {
  background-image: url(../Images/Banner/banner.png);
  padding: 236px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.BannerPart {
  display: flex;

  align-items: center;
}
.BannerPart__count {
  font-size: 10px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--band_color);
  position: relative;
  margin-left: 26px;
}

.BannerPart__count::after {
  position: absolute;
  content: "";
  height: 30px;
  width: 2px;
  background-color: var(--band_color);
  right: -10px;
}
.BannerPartFinal__title {
  font-size: 49px;
  font-weight: 800;
  color: var(--band_color);
  font-family: var(--font_family);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.BannerPartFinal__summary {
  font-size: 16px;
  color: var(--footer_font_color);
  font-family: var(--font_family);
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-top: 33px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.BannerPartFinal__summary__span {
  font-size: 49px;
  font-weight: 800;
  color: var(--band_color);
  font-family: var(--font_family);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.BannerPartFinal__btn {
  background-color: var(--band_color);
  color: var(--main_bg_color);
  font-size: 16px;
  font-weight: 800;
  font-family: var(--font_family);
  padding: 16px 57px;
  margin-top: 49px;
}
/* ------------------------ Hero css End ------------------------ */
/* ------------------------ Wrranty css Start ------------------------ */
#Warranty {
  background-color: var(--main_bg_color);
}
.WarrantyPart {
  padding-top: 174px;
}
/* ~~~~~~~~~~~~ Warranty Header Sale Css ~~~~~~~~~~~~ */
.WarrantyHeaderWrapper {
  padding: 30px 0px;
}
.WarrantyHeader {
  display: flex;
  column-gap: 17px;
  /* justify-content: center; */
  align-items: center;
}
.Header--cstm1 {
  justify-content: center;
}
.Header--cstm2 {
  justify-content: end;
}
.WarrantyHeader__coutn {
  font-size: 29px;
  font-weight: 700;
  font-family: var(--font_family);
  color: var(--band_color);
}
.WarrantyHeader__title {
  font-size: 16px;
  font-weight: 400;
  color: var(--footer_font_color);
  font-family: var(--font_family);
}
/* ~~~~~~~~~~~~ Warranty Header Sale Css ~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~ Phone Sale Css ~~~~~~~~~~~~ */
.WarrantyPartPhone {
  position: relative;
  display: block;
  overflow: hidden;
}
.WarrantyPartPhonePictureOverlayer {
  position: absolute;
  top: 364px;
  left: 64px;
}
.WarrantyPartPhonePictureOverlayer__title {
  font-size: 39px;
  font-weight: 800;
  color: var(--band_color);
  font-family: var(--font_family);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.WarrantyPartPhonePictureOverlayer__summary {
  font-size: 16px;
  color: var(--footer_font_color);
  font-family: var(--font_family);
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-top: 33px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.WarrantyPartPhonePictureOverlayer__summary__span {
  font-size: 39px;
  font-weight: 800;
  color: var(--band_color);
  font-family: var(--font_family);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Button__Phone {
  position: relative;
  width: 100%;
}
.BannerPartFinal__btn {
  position: absolute;
  top: 0px;
  left: -356px;
  background-color: var(--band_color);
  color: var(--main_bg_color);
  font-size: 16px;
  font-weight: 800;
  font-family: var(--font_family);
  padding: 16px 57px;
  margin-top: 40px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.WarrantyPartPhone:hover .BannerPartFinal__btn {
  top: 0px;
  left: 0px;
}
/* ~~~~~~~~~~~~ Phone Sale Css ~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~ Warranty Sale Css ~~~~~~~~~~~~ */
.WarrantyPartElectronic {
  position: relative;
  display: block;
  overflow: hidden;
}
.WarrantyPartElectronicPictureOverlayer {
  position: absolute;
  bottom: 100px;
  right: 280px;

  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.WarrantyPartElectronicPictureOverlayer__title {
  font-size: 39px;
  font-family: var(--font_family);
  color: var(--band_color);
  font-weight: 800;
}
.WarrantyPartElectronicPictureOverlayer__summary {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--footer_font_color);
}
.WarrantyPartElectronicPictureOverlayer__summary__span {
  font-size: 39px;
  font-family: var(--font_family);
  color: var(--band_color);
  font-weight: 800;
}
.BannerPartFinalElectronic__btn {
  position: absolute;
  top: 8px;
  left: 630px;
  padding: 16px 57px;
  background-color: var(--band_color);
  color: var(--main_bg_color);
  font-size: 14px;
  font-weight: 700;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.ElectronicBtn {
  position: relative;
  width: 100%;
}
.WarrantyPartElectronic:hover .BannerPartFinalElectronic__btn {
  top: 8px;
  left: 0;
}
/* ~~~~~~~~~~~~ Warranty Sale Css ~~~~~~~~~~~~ */

/* ------------------------ Wrranty css End ------------------------ */
/* ------------------------ NewArrivals css End ------------------------ */
#NewArrivals {
  padding: 128px 0;
  background-color: var(--main_bg_color);
}
.NewArrivalsPart__title {
  font-size: 39px;
  font-weight: 700;
  font-family: var(--font_family);
  color: var(--band_color);
}
.NewArrivalsPartItem {
  position: relative;
  margin-top: 48px;
  overflow: hidden;
}
.NewArrivalsPartItem__btn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 9px 32px;
  background-color: var(--band_color);
  color: var(--main_bg_color);
  font-size: 16px;
  font-family: var(--font_family);
  font-weight: 400;
}
/* ~~~~~~~~~~~~~~~~~~~ New Arrivales Part Overlayer ~~~~~~~~~~~~~~~~~~~ */
.NewArrivalsPartItemOverlayer {
  padding: 10px;
  position: absolute;
  bottom: -190px;
  right: 0;
  width: 100%;
  background-color: var(--main_bg_color);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  row-gap: 21px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
/* ``````````````````` NewArrivalsPartItemOverlayer hover ````````````````````` */
.NewArrivalsPartItem:hover .NewArrivalsPartItemOverlayer {
  bottom: 91px;
  right: 0;
}
/* ``````````````````` NewArrivalsPartItemOverlayer hover ````````````````````` */
.NewArrivalsPartItemOverlayer__title a {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--primary_color);
  text-decoration: none;
}
.NewArrivalsPartItemOverlayer__title i {
  color: var(--band_color);
}
/* ~~~~~~~~~~~~~~~~~~~ New Arrivales Part Overlayer ~~~~~~~~~~~~~~~~~~~ */
.NewArrivalsPartItemBottomWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.NewArrivalsPartItem__BottomHeader {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font_family);
  color: var(--band_color);
}
.NewArrivalsPartItem__BottomSubHeader {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary_color);
  font-family: var(--font_family);
}
.BottomSubHeader--cstm {
  margin-top: 15px;
}
.NewArrivalsPart2ndWrapper {
  padding-top: 217px;
}
/* ------------------------ NewArrivals css End ------------------------*/
/* ------------------------ Phone Of the Year css Start ------------------------*/
#Phone {
  padding: 128px 0px;
  background-color: var(--main_bg_color);
}
.PhonePart {
  background-color: var(--cardBanner_bg-color);
  display: flex;
  width: 100%;
}
.PhonePartRight {
  padding: 60px 0px;
  background-color: var(--cardBanner_bg-color);
}
.PhonePartRight__title {
  font-size: 39px;
  font-weight: 700;
  font-family: var(--font_family);
  color: var(--band_color);
}
.PhonePartRight__Summary {
  margin-top: 38px;
  font-size: 16px;
  font-weight: 400;
  color: var(--band_color);
  font-family: var(--font_family);
  width: 75%;
}
.PhonePartRight__btn {
  margin-top: 50px;
  padding: 16px 50px;
  background-color: var(--band_color);
  font-size: 14px;
  font-weight: 700;
  color: var(--main_bg_color);
  font-family: var(--font_family);
}
/* ------------------------ Phone Of the Year css Start ------------------------*/

/* ------------------------ footer css Start ================ */
#Footer {
  padding: 59px 0;
  background-color: #f5f5f3;
}
.FooterPartItem__Title {
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font_family);
  color: var(--band_color);
}
.FooterPartItem{
  margin-top: 17px;
  display: flex;
  flex-direction: column;
row-gap: 6px;
}
.FooterPartItemList__link {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--footer_font_color);
  text-decoration: none;
}
/* ------------------------ footer css end ================ */
