/* ======================= font style ==================== */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* ---------------------- font style --------------------- */
/* ======================= common css start =============== */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section,
ul,
ol,
li,
a {
  padding: 0;
  margin: 0;
  outline: 0;
}
html {
  scroll-behavior: smooth;
}

:root {
  --main_bg_color: #fff;
  --cardBanner_bg-color: #f3f3f3;
  --band_color: #262626;
  --primary_color: #767676;
  --footer_font_color: #6d6d6d;
  --font_family: "DM Sans", sans-serif;
}
/* ------------------------ common css end ------------------------ */

/* ------------------------ Header css Start ------------------------ */
#header {
  padding: 32px 0;
  background-color: var(--main_bg_color);
}
.headerPart {
  display: flex;
}
.headerPartItem {
  display: flex;
  column-gap: 40px;
  padding-left: 544px;
}
.headerPartItemList__link {
  color: var(--primary_color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
.headerPartItemList:hover .headerPartItemList__link {
  color: var(--band_color);
}
/* ------------------------ Header css end ------------------------ */
/* ------------------------ Navbar css Start ------------------------ */
#Navbar {
  background-color: #f5f5f3;
  padding: 25px 0;
}
.NavbarPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavbarPartleft__Titele {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--band_color);
  align-items: center;
}
.NavbarPartleftlist {
  display: none;
  background-color: var(--main_bg_color);
  position: absolute;
  left: 0px;
  top: 21px;
  padding: 18px;
}
.NavbarPartleftlistItem {
  margin-top: 15px;
}
.NavbarPartleftlistItem__link {
  font-family: var(--font_family);
  font-size: 14px;
  font-weight: 400;
  color: var(--band_color);
}
.NavbarPartleft__Titele:hover .NavbarPartleftlist {
  display: block;
}
.NavbarPartMiddleFrom {
  background-color: var(--main_bg_color);
  padding: 16px 21px;
}
.NavbarPartMiddleFrom__input {
  padding-right: 443px;
  border: none;
}
.NavbarPartMiddleFrom__btn {
  background-color: var(--main_bg_color);
  border: none;
}
.NavbarPartRight {
  display: flex;
  column-gap: 41px;
  align-items: center;
}
.NavbarPartRight__User {
  display: flex;
  column-gap: 10px;
}
/* ------------------------ Navbar css End ------------------------ */

/* ------------------------ footer css Start ------------------------ */
#Footer {
  background-color: #f5f5f3;
  padding: 55px 52px;
}
.FooterPart {
  /* css */
}
.FooterPartIteam {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  padding: 0;
  margin: 0;
}
.FooterPartIteamList__link {
  font-size: 14px;
  font-weight: 400;
  color: #6d6d6d;
  font-family: var(--font_family);
  text-decoration: none;
}
.FooterPartIteamList__link--cstm {
  margin-bottom: 17px;
  font-size: 16px;
  font-weight: 800;
  font-family: var(--font_family);
  color: var(--band_color);
}
.FooterPartIteam__contactNum {
  font-size: 16px;
  font-weight: 800;
  font-family: var(--font_family);
  color: var(--band_color);
}

.FooterPartIconBoxWrapper {
  padding-top: 65px;
}
.FooterPartIconBox {
  display: flex;
  column-gap: 26px;
  align-items: center;
}
.FooterPart__footerline {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font_family);
  color: #6d6d6d;
}
/* ------------------------ footer css end ================ */
