/* ======================= font style ==================== */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* ---------------------- font style --------------------- */
/* ======================= common css start =============== */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section,
ul,
ol,
li,
a {
  padding: 0;
  margin: 0;
  outline: 0;
}
html {
  scroll-behavior: smooth;
}

:root {
  --main_bg_color: #fff;
  --cardBanner_bg-color: #f3f3f3;
  --band_color: #262626;
  --primary_color: #767676;
  --footer_font_color: #6d6d6d;
  --font_family: "DM Sans", sans-serif;
}
/* ------------------------ common css end ------------------------ */

/* ------------------------ Header css Start ------------------------ */
#header {
  padding: 32px 0;
  background-color: var(--main_bg_color);
}
.headerPart {
  display: flex;
}
.headerPartItem {
  display: flex;
  column-gap: 40px;
  padding-left: 544px;
}
.headerPartItemList__link {
  color: var(--primary_color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
.headerPartItemList:hover .headerPartItemList__link {
  color: var(--band_color);
}
/* ------------------------ Header css end ------------------------ */
/* ------------------------ Navbar css Start ------------------------ */
#Navbar {
  background-color: #f5f5f3;
  padding: 25px 0;
}
.NavbarPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavbarPartleft__Titele {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--band_color);
  align-items: center;
}
.NavbarPartleftlist {
  display: none;
  background-color: var(--main_bg_color);
  position: absolute;
  left: 0px;
  top: 21px;
  padding: 18px;
}
.NavbarPartleftlistItem {
  margin-top: 15px;
}
.NavbarPartleftlistItem__link {
  font-family: var(--font_family);
  font-size: 14px;
  font-weight: 400;
  color: var(--band_color);
}
.NavbarPartleft__Titele:hover .NavbarPartleftlist {
  display: block;
}
.NavbarPartMiddleFrom {
  background-color: var(--main_bg_color);
  padding: 16px 21px;
}
.NavbarPartMiddleFrom__input {
  padding-right: 443px;
  border: none;
}
.NavbarPartMiddleFrom__btn {
  background-color: var(--main_bg_color);
  border: none;
}
.NavbarPartRight {
  display: flex;
  column-gap: 41px;
  align-items: center;
}
.NavbarPartRight__User {
  display: flex;
  column-gap: 10px;
}
/* ------------------------ Navbar css End ------------------------ */
/* ------------------------ Product css Start ------------------------ */
#Product {
  background-color: var(--main_bg_color);
}
.ProductPartHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ProductPartHeader i {
  font-size: 12px;
  font-family: var(--font_family);
  font-weight: 400;
  color: var(--primary_color);
}
.ProductPartHeader__title {
  font-size: 12px;
  font-family: var(--font_family);
  font-weight: 400;
  color: var(--primary_color);
}
.ProductPartHeader__icon {
  font-size: 12px;
  font-family: var(--font_family);
  font-weight: 400;
  color: var(--primary_color);
}
.ProductPartItem {
  padding: 128px 0;
}
/* ------------------------ Product css End ------------------------ */
/* ------------------------ ProductCart css Start ------------------------ */
#ProductCart {
  padding: 50px 0;
  background-color: var(--main_bg_color);
}
.ProductCartPart {
  /* -------- */
}
.ProductCartPart__Heading {
  font-size: 39px;
  font-weight: 700;
  font-family: var(--font_family);
  color: var(--band_color);
}
.ProductCartPartSubTitleWrapper {
  border-bottom: 1px solid #f0f0f0;
}
.ProductCartPartSubTitle {
  display: flex;
  column-gap: 25px;
  margin-top: 15px;
  margin-bottom: 24px;
}
.ProductCartPartSubTitle__Star {
  display: flex;
  column-gap: 2px;
  color: gold;
}
.ProductCartPartSubTitle__Headline {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--primary_color);
}
.ProductCartPartSelection {
  border-bottom: 1px solid #f0f0f0;
  padding: 30px 0px;
}
.ProductCartPartSelectionColor {
  display: flex;
  align-items: center;

  column-gap: 15px;
}
.ProductCartPartSelectionColor__title {
  font-size: 16px;
  font-family: var(--font_family);
  font-weight: 700;
  color: var(--band_color);
  margin-right: 42px;
}
.ProductCartPartSelectionColor__Color1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: #00000034;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
}
.ProductCartPartSelectionColor__Color1:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  cursor: pointer;
}
.Color--2 {
  background-color: #ff8686;
}
.Color--3 {
  background-color: #7ed321;
}
.Color--4 {
  background-color: #b6b6b6;
}
.Color--5 {
  background-color: #15cba5;
}
.ProductCartPartSelectionFrom {
  padding-top: 36px;
}
.ProductCartPartSelectionFrom__Size {
  font-size: 16px;
  font-family: var(--font_family);
  font-weight: 700;
  color: var(--band_color);
  margin-right: 76px;
}
#Size {
  padding: 0px 20px;
  border: 1px solid var(--cardBanner_bg-color);
}
.ProductCartPartStatus {
  display: flex;
  align-items: center;
  column-gap: 27px;
  padding: 21px 0;
  border-bottom: 1px solid #f0f0f0;
}
.ProductCartPartStatus__headig {
  font-size: 16px;
  font-family: var(--font_family);
  font-weight: 700;
  color: var(--band_color);
  margin-right: 76px;
}
.ProductCartPartStatus__SubHeadig {
  font-size: 16px;
  font-family: var(--font_family);
  font-weight: 700;
  color: var(--primary_color);
  margin-right: 76px;
}
/* ~~~~~~~~~~ButtonPart CSS ~~~~~~~~~~~~ */
.ProductCartPartProductButton {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 30px 0;
  border-bottom: 1px solid #f0f0f0;
}
.ProductCartPartProductButton__Butn1 {
  padding: 16px 40px;
  background-color: var(--main_bg_color);
  border: 2px solid var(--band_color);
  color: var(--band_color);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  font-size: 14px;
  font-family: var(--font_family);
  font-weight: 700;
}
.ProductCartPartProductButton__Butn1:hover {
  background-color: var(--band_color);
  color: var(--main_bg_color);
}
/* ~~~~~~~~~~ButtonPart CSS ~~~~~~~~~~~~ */
.ProductCartPartFeaturesDetails {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}
.ProductCartPartFeaturesDetails__title {
  font-size: 16px;
  font-weight: 700;

  font-family: var(--font_family);
  color: var(--band_color);
}
.ProductCartPart__Summary {
  padding: 30px 0;
  font-size: 16px;
  font-family: var(--font_family);
  font-weight: 400;
  color: var(--primary_color);
}
/* ------------------------ ProductCart css End ------------------------ */
/* ------------------------ ProductCartDiscription css Start ------------------------ */

/* ------------------------ ProductCartDiscription css Start ------------------------ */
#ProductDisciption {
  padding: 128px 0;
  background-color: var(--main_bg_color);
}
.ProductDisciptionPartHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 62px;
}
.ProductDisciptionPartHeader__title {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--primary_color);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.ProductDisciptionPartHeader__title:hover {
  transform: scale(1.1);
  color: var(--band_color);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.ProductDisciptionPartReview {
  border-bottom: 1px solid #f0f0f0;
  padding: 42px 0 16px 0;
}
.ProductDisciptionPartReview__title {
  font-size: 14px;
  font-family: var(--font_family);
  font-weight: 400;
  color: var(--primary_color);
}
.ProductDisciptionPartSummary {
  margin-top: 37px;
}
.ProductDisciptionPartSummaryHeader {
  display: flex;
  justify-content: space-between;
}
.ProductDisciptionPartSummaryHeaderLeft {
  display: flex;
  align-items: center;
  column-gap: 37px;
}
.ProductDisciptionPartSummaryHeaderLeft__title {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--band_color);
}
.ProductDisciptionPartSummaryHeaderLeft__icon {
  display: flex;
  column-gap: 2px;
  color: gold;
}
.ProductDisciptionPartSummaryHeaderRight__title {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--primary_color);
}
.ProductDisciptionPartSummary__Discirption {
  margin-top: 22px;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary_color);
  font-family: var(--font_family);
  line-height: 30px;
  letter-spacing: 0px;
}
/* ------------------------ ProductCartDiscription css End ------------------------ */
/* ------------------------ Product Reciew css Start ------------------------ */
#ProductReview {
  padding: 56px 0;
  background-color: var(--main_bg_color);
}
.ProductReviewPart__title {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font_family);
  color: var(--band_color);
}
.ProductReviewPartNameWrapper {
  padding: 48px 0 16px 0;
  border-bottom: 1px solid #f0f0f0;
}
.ProductReviewPartName__title {
  font-size: 16px;
  font-weight: 700;
  color: var(--band_color);
  font-family: var(--font_family);
}
.ProductReviewPartName__Input{
  margin-top: 10px;
  border: none;
  background-color: var(--main_bg_color);
  font-size: 16px;
  font-weight: 400;
  color: var(--primary_color);
}
.cstm--Input{
  padding: 15px 0;
}
.ProductReviewPartButton{
  margin-top: 30px;
  padding: 16px 88px;
  background-color: var(--band_color);
  color: var(--main_bg_color);
  font-size: 14px;
  font-family: var(--font_family);
  font-weight: 700;
}
/* ------------------------ Product Reciew css End ------------------------ */
/* ------------------------ footer css Start ------------------------ */
#Footer {
  background-color: #f5f5f3;
  padding: 55px 52px;
}
.FooterPart {
  /* css */
}
.FooterPartIteam {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  padding: 0;
  margin: 0;
}
.FooterPartIteamList__link {
  font-size: 14px;
  font-weight: 400;
  color: #6d6d6d;
  font-family: var(--font_family);
  text-decoration: none;
}
.FooterPartIteamList__link--cstm {
  margin-bottom: 17px;
  font-size: 16px;
  font-weight: 800;
  font-family: var(--font_family);
  color: var(--band_color);
}
.FooterPartIteam__contactNum {
  font-size: 16px;
  font-weight: 800;
  font-family: var(--font_family);
  color: var(--band_color);
}

.FooterPartIconBoxWrapper {
  padding-top: 65px;
}
.FooterPartIconBox {
  display: flex;
  column-gap: 26px;
  align-items: center;
}
.FooterPart__footerline {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font_family);
  color: #6d6d6d;
}
/* ------------------------ footer css end ================ */
